<div class="row calendar-header">
  <div id='calendar'>
  </div>
</div>

<div class="modal fade" id="modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <div class="col-12">
          <div class="form-group">
            {{input type="text" value=model.title class="form-control form-control-lg form-control-md" placeholder="Adicionar Título"}}
          </div>
        </div>
        <div class="col-12">
          <div class="input-group">
            <div class="input-group-addon input-group-addon-md">
              <i class="fa fa-calendar"></i>
            </div>
            {{input-mask mask="99/99/9999 99:99" type="text" value=model.start class="form-control form-control-md date" placeholder="Data de Início"}}
            <!--  -->
            {{input-mask mask="99/99/9999 99:99" type="text" value=model.end class="form-control form-control-md date" placeholder="Data de Conclusão"}}
          </div>
        </div>
        <br>
        <div class="pull-right">
          <button type="button" class="btn btn-outline-secondary form-control-md" data-dismiss="modal">
            <i class="fa fa-close"></i>
          </button>
          <button type="button" class="btn btn-primary" {{action 'insert' model}}>
            <i class="fa fa-check"></i> Salvar
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
