<div class="py-md-5 pl-md-5 bd-content">
  <h1>
    <i class="fa fa-list-ul"></i> Lista de Veículos
    {{#link-to 'vehicle.new' class="btn btn-primary btn-lg"}}
      <i class="fa fa-plus"></i> Novo Veículo
    {{/link-to}}
  </h1>
  <div class="row">
    {{#each model as |item|}}
      <div class="col-sm-3 mb-3">
        <div class="card" style="width: 20rem;">
          <img class="card-img-top" src="sem-image.jpeg" alt="Card image cap">
          <div class="card-body">
            <h4 class="card-title">{{concatenate item.name ' ' item.year '/' item.model}}</h4>
            <h6 class="card-subtitle mb-2 text-muted">{{concatenate item.brand.name ' - ' item.fuel}}</h6>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <span class="card-link"><b>R$ {{item.price}}</b></span>
            {{#link-to 'vehicle.edit' item.id class="card-link" }}
              Ver Detalhes
            {{/link-to}}
          </div>
        </div>
      </div>
    {{/each}}
  </div>
</div>
