<select class="form-control">
    <option>Sem Registro</option>

    {{#if selected}}
        <option selected disabled>{{selected.name}}</option>
    {{/if}}

    {{#each list as |item|}}
        <option value={{item.id}}>{{item.name}}</option>
    {{/each}}
</select>
